<!-- Left navigation widget -->
<div class="container">
    <div class="flex-item">
        <iframe class="selected" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showPrint=0&mode=WEEK&showTabs=0&showCalendars=0&showTz=0&showTitle=0&src=cmcwcTF1MGZlbW8zMDAxaWJkOWI2bnRwcDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y19tdHUwaG1rYTRzZDRtcDJpazd1ZmdjcnJhZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y19tZHI1NXBrY2ttcTM3ZGFvbm0wNDNzaGlkNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=Y2FsZW5kYXJAaXRoYWNhZ2VuZXJhdG9yLm9yZw&color=%23616161&color=%23C0CA33&color=%23D81B60&color=%237CB342" style="border-width:0" frameborder="0" scrolling="no"></iframe>
        <div class="icon">📅</div><div class="degg">Calendar</div>
    </div>
    <div class="flex-item">
        <iframe style="border-radius: 14px;" class="selected" width="400" height="400" src="/docs/" title="Docs" frameborder="0" allow="encrypted-media;" allowfullscreen></iframe>
        <div class="icon">📝</div><div class="degg">Docs</div>
    </div>
    <div class="flex-item">
        <iframe class="selected" src="https://e.widgetbot.io/channels/964191448750780508/971441249640919120" ></iframe>
        <div class="icon">☎</div><div class="degg">Support & Monitor</div>
    </div>
    <div class="flex-item">
        <iframe style="border-radius: 14px;" class="selected" width="400" height="400" src="/docs/usage" title="Docs" frameborder="0" allow="encrypted-media;" allowfullscreen></iframe>
        <div class="icon">⚠</div><div class="degg">Usage</div>
    </div>
</div>

<!-- Include JS -->
<script src="flex_card_driver.js"></script>
