
{% include 'nav.j2' %}



<div class="flex-container">
    <div class="flex-left">
        {% include 'flex_widgets.j2' %}
    </div>
    <div class="flex-right">
        <div class="container">
             <div class="header">Welcome to the DLA Makerspace!</div>
            <div class="intro">We are a small fabrication laboratory located on the fourth floor of Kennedy Hall, nestled within Cornell's Landscape Architecture Department.</div>
            <div class="intro"> <i>On-site equipment includes:</i></div>
            <div class="intro"> - <b>Freddie & Vaux</b>: Our two glorious 50 watt Epilog Edge laser cutters.</div>
            <div class="intro"> - <b>Ada & Greta</b>: Our Ultimaker S3 twins and <b>Fender</b> our Ultimaker S5 3d printers.</div>
            <div class="intro"> - <b>ShopBot</b>: We have a ShopBot 32 CNC router, slated to be ready for use for the 2022 fall semester.</div>
            <div class="intro"> - <b>Ithaca Generator</b>: The DLA Makerspace and many Landscape Architecture students work closely with the Ithaca Generator, a lively community-run makerspace located at 233 Cherry St., Ithaca NY.</div>
        </div>
    </div>

</div>

<div id="content-wrapper" class="card-hide">
    <script>
        {
            var isSafari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
                navigator.userAgent &&
                navigator.userAgent.indexOf('CriOS') === -1 &&
                navigator.userAgent.indexOf('FxiOS') === -1;

            console.log(isSafari)
            if (isSafari === true) {
                alert("Hey! On a mobile device?  Jess hasn't built this web app for mobile devices yet.  In the meantime, Join on Discord @ https://discord.gg/3FWpQtDMV2")
            }
        }
    </script>
</div>
