{% include 'head.j2' %}

<a class="github-fork-ribbon" href="https://github.com/Jesssullivan/DLA-Flask" data-ribbon="Fork me on Github!" title="@ GitHub...">Contribute</a>
<div class="topnav" >
    <a class="{%- if 'home' == url_for(request.endpoint).split('/')[-1] -%}active{%- endif %}" href="/">🏠</a>
    <a href="mailto:js3227@cornell.edu">Email</a>
    <a href="https://discord.gg/3FWpQtDMV2">Discord</a>
    <a href="https://github.com/Jesssullivan/DLA-Flask">Github</a>
    <a href="https://ithacagenerator.org/">Ithaca Generator</a>
    <a href="https://transscendsurvival.org">Visit Jess</a>
</div>



