

<div class="slideshow-container">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a class="prev" onclick="slideDriver.prev();">&#10094;</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <a class="next" onclick="slideDriver.next();">&#10095;</a>
                        </td>
                    </tr>
                    <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(1)">1</span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(2)">2</span>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(3)">3</span>
                    </td>
                    </tr>
                      <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(4)">4</span>
                    </td>
                    </tr>
                      <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(5)">5</span>
                    </td>
                      </tr>
                  <tr>
                    <td>
                        <span class="dot" onclick="slideDriver.currentSlide(6)">6</span>
                    </td>
                  </tr>
                </table>
            </td>
            <td>
                <div class="container">

                    <!-- intro slides -->
                    <div class="slide-card fade">
                        <a href="https://docs.google.com/presentation/d/e/2PACX-1vTT8S0NlHCatvP8x0utccHP1vZwuslE5KgJKvajeRMFa47jG-p4qY2ZOttpHLIr91vHnc1zMeqISr3D/pub?start=false&loop=true&delayms=4000" target="_blank"><img src="IntroDLA_Square.png"></a>
                    </div>

                    <!-- Magic Fusion class -->
                    <div class="slide-card fade">
                        <a href="https://ithacagenerator.org/home/fusion-360-class#!event-register/2022/5/9/magic-fusion-360-for-3d-printing-w-jess" target="_blank"><img src="Fusion360_2.png"></a>
                    </div>

                    <!-- Printer Party -->
                    <div class="slide-card fade">
                        <a href="https://ithacagenerator.org/home/weekly-3d-printer-party-w-jess" target="_blank"><img src="3D_Party.jpg"></a>
                    </div>

                     <!-- DLA Github -->
                    <div class="slide-card fade">
                        <a href="https://github.com/DLA-Makerspace" target="_blank"><img src="DLAGithub_Square.png"></a>
                    </div>

                    <!-- DLA Discord -->
                    <div class="slide-card fade">
                        <a href="https://discord.gg/3FWpQtDMV2" target="_blank"><img src="DLADiscord_Square.png"></a>
                    </div>

                <div class="slide-card fade">
                    <div class="intro">🚀 Use this web application to access:</div>
                    <div class="intro"> - 🌈 Jess when she is not on-site 👍 </div>
                    <div class="intro"> - The space's staffing calendar </div>
                    <div class="intro"> - General DLA makerspace information & usage agreement </div>
                    <a href="/docs/"><div class="intro"> - Technical documentation </div></a>
                    <a href="https://discord.gg/3FWpQtDMV2"><div class="intro"> - Discord ticketing system, printer monitoring streams & discussion forum </div></a>
                    <br/>
                </div>

                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Include JS -->
<script src="slide_card_driver.js"></script>
