{% include 'nav.j2' %}

<div class="flex-container">
    <div class="flex-left">
        {% include 'flex_widgets.j2' %}
    </div>
    <div class="flex-right">
        <iframe style="border-radius: 14px;-webkit-filter: invert(100%)" width="100%" height="100%" src="https://jesssullivan.github.io/DLA-Flask/UsageAgreement.html" title="Usage" frameborder="0" allow="encrypted-media;" allowfullscreen></iframe>
    </div>
</div>
